@font-face {
  font-family: 'Helonik Regular';
  src: url('/fonts/Helonik-Regular.woff2') format('woff2'),
       url('/fonts/Helonik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CalmSerif';
  src: url('/font/CalmSerif-1j6G4.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 