@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "RockSalt";
  src: url("/fonts/RockSalt-Regular'.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}